#landing {
  height: 100vh;
  position: relative;
}

.navigation {
  width: 100%;
  padding-top: 84px;
}

.navigation__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navigation__list__link {
  font-size: 18px;
}

.landing__header {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 50px;
  text-align: center;
  max-width: 850px;
}

.arrow--container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(10%);
}

.arrow--container span {
  display: block;
  width: 40px;
  height: 40px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  animation: falling 2s infinite;
}

.arrow--container span:nth-child(2) {
  animation-delay: 0.2s;
}
.arrow--container span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes falling {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
