#application {
  height: 100vh;
  position: relative;
}

h2 {
  color: white;
}

.application--container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.application__video--container > video {
  width: 500px;
}
