button {
  cursor: pointer;
}

#showcase {
  height: 100vh;
  position: relative;
}

.showcase--container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.showcase__header {
  color: white;
}

.calculator__background {
  max-width: 280px;
  border: gray solid 1px;
}

.calculator__display {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

.calculator__display span {
  margin-right: 10px;
  font-size: 30px;
}

.calculator__buttons--container {
  display: flex;
  width: 100%;
  height: calc(100% - 75px);
}

.calculator__buttons--left {
  display: flex;
  flex-wrap: wrap;
}

.calculator__button {
  border: none;
}

.calculator__buttons--left .calculator__button {
  width: 62px;
  height: 62px;
  border-radius: 999px;
  margin: 4px;
}

.zero {
  flex-grow: 1;
  max-width: 132px;
}

.gray {
  background-color: darkgray;
}

.calculator__buttons--right {
  display: flex;
  flex-direction: column;
}
.calculator__buttons--right .calculator__button {
  width: 62px;
  height: 62px;
  margin: 4px;
  border-radius: 999px;
}

.active{
  background-color: pink;
}

